<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @reminder.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @reminder.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @reminder.date %>
</p>
<p>
  <strong>Email:</strong>
  <%= @reminder.email %>
</p>

<%= link_to 'Edit', edit_user_reminder_path(@user) %> |
<%= link_to 'Back', user_reminders_path %>
